<!DOCTYPE html>
<html>
    <head>
        <title>Mapa de Puntos de Basura</title>
            <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" />
            <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>

    <div id="map"></div>

        <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"></script>
        <script src="{{ url_for('static', filename='script.js') }}"></script>

    </body>
</html>
